<div class="sidenav__profile">

  <div class="sidenav__profile__avatar">
    <img src="https://randomuser.me/api/portraits/women/46.jpg" alt="Profile pic">
  </div>

  <div class="sidenav__profile__controls">

    <div class="sidenav__profile__controls__user-data">
      <p>
        <strong>{{profile.nicename || 'John Doe'}}</strong>
      </p>
      <small>@{{profile.username}}</small>
    </div>

    <button class="sidenav__profile__controls__button"
            md-icon-button
            (click)="toggleSidenavMode()">
      <md-icon>{{sidenavMode === 'main' ? 'arrow_drop_down' : 'arrow_drop_up'}}</md-icon>
    </button>

  </div>

</div>

<div class="sidenav__switch"
     [ngSwitch]="sidenavMode">

  <div class="sidenav__controls__main"
       *ngSwitchCase="'main'">

    <md-nav-list class="sidenav__controls__main__actions">
      <h3 md-subheader>Actions</h3>

      <md-list-item (click)="goToRoomList()">
        <md-icon md-list-icon>search</md-icon>
        <p md-line>Browse rooms</p>
      </md-list-item>

    </md-nav-list>

    <md-nav-list class="sidenav__controls__main__rooms"
                 *ngIf="joinedRooms.length">

      <h3 md-subheader>Joined rooms</h3>

      <div class="sidenav__rooms__list">
        <md-list-item *ngFor="let room of joinedRooms"
                      (click)="goToRoom(room.id)">
          <img src="../assets/img/angular-logo.svg"
               md-list-avatar>
          <p md-line>{{room.title}}</p>
        </md-list-item>
      </div>

    </md-nav-list>
  </div>

  <div class="sidenav__controls__profile"
       *ngSwitchCase="'profile'">

    <md-nav-list class="sidenav__controls__main__actions">
      <h3 md-subheader>Actions</h3>

      <md-list-item (click)="goToProfile()">
        <md-icon md-list-icon>account_circle</md-icon>
        <p md-line>Edit profile</p>
      </md-list-item>

      <md-list-item (click)="logoutClick.emit()">
        <md-icon md-list-icon>exit_to_app</md-icon>
        <p md-line>Sign out</p>
      </md-list-item>

    </md-nav-list>

  </div>

</div>
