<div>
  <p>Login</p>
  <form #loginForm="ngForm" (ngSubmit)="onLoginFormSubmit(loginForm)">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" [(ngModel)]="credentials.username" required pattern="[a-zA-Z0-9]{3,25}">
    <br>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" [(ngModel)]="credentials.password" required>
    <br>
    <button class="btn" type="submit" [disabled]="loginForm.form.invalid">Login</button>
  </form>
</div>
