<div class="page">
  <div class="page-hero">
    <div class="app-logo"></div>
  </div>

  <div class="login-form-container">
    <md-card class="login-form-card mat-elevation-z10">
      <form class="login-form"
            #loginForm="ngForm"
            (ngSubmit)="onLoginFormSubmit(loginForm)">
        <md-card-title>Welcome to Angular2+ chat app</md-card-title>

        <md-card-content class="login-form-inputs">
          <md-input-container>
            <input id="username"
                   name="username"
                   type="text"
                   placeholder="User name"
                   mdInput
                   [(ngModel)]="credentials.username"
                   pattern="[a-zA-Z0-9]{3,25}"
                   required>
          </md-input-container>
          <md-input-container>
            <input id="password"
                   name="password"
                   type="password"
                   placeholder="Password"
                   mdInput
                   [(ngModel)]="credentials.password"
                   required>
          </md-input-container>

        </md-card-content>

        <md-card-actions class="login-form-actions">
          <a routerLink="/register"
             md-button>Sign Up
          </a>
          <button type="submit"
                  md-button
                  [disabled]="loginForm.invalid">Login
          </button>
        </md-card-actions>
      </form>
    </md-card>

  </div>
</div>
