<md-sidenav-container class="app">

  <md-sidenav class="sidenav"
              #sidenav>
    <ca-main-side-nav
        [joinedRooms]="joinedRooms$ | async"
        [profile]="profile$ | async"
        [sidenav]="sidenav"
        (logoutClick)="onLogoutClick()"></ca-main-side-nav>
  </md-sidenav>

  <md-toolbar class="app__toolbar"
              color="primary"
              *ngIf="(profile$ | async).isAuthenticated"
              [@visib]="enabled ? 'yes' : 'no'">

    <button md-icon-button
            (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>

    <span>Available rooms</span>
  </md-toolbar>

  <ca-page-container>
    <router-outlet></router-outlet>
  </ca-page-container>

</md-sidenav-container>
