:host {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 64px);
}

.chat-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: calc(100% - 1rem);
}

.chat-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
  flex-grow: 1;
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
}

.chat-users {
  width: 200px;
  margin-left: 1rem;
  overflow-y: scroll;
}

.chat-input-container {
  margin: 0 1rem;

  padding-top: 0;
  padding-bottom: 0;

  &__form {
    width: 100%;

    display: flex;

    flex-direction: row;
    align-items: center;
  }

  &__input {
    flex: 1;
  }
}
