<div class="page">

  <div class="room-list">
    <md-card class="room-card"
             *ngFor="let room of (availableRooms$ | async)">

      <img src="../../../assets/img/app-background.svg"
           md-card-image>
      <md-card-title>{{room.title}}</md-card-title>

      <md-card-content>
        <p>DESCRIPTION TODO</p>

        <p>
          <md-chip-list>
            <md-chip>TODO ->></md-chip>
            <md-chip>#some</md-chip>
            <md-chip>#tag</md-chip>
            <md-chip>#of_room</md-chip>
            <md-chip><<- TODO</md-chip>
          </md-chip-list>
        </p>

      </md-card-content>

      <md-card-actions align="end">
        <button md-button
                (click)="joinRoom(room, $event)">Join room
        </button>
      </md-card-actions>

    </md-card>
  </div>

  <a class="fab"
     title="Create a new room"
     md-fab
     [routerLink]="['./', {action: 'createRoom'}]">
    <md-icon>add</md-icon>
  </a>
</div>
