.page {
  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;
  align-items: center;

  .room-list {
    max-width: 800px;

    padding: 1rem;

    .room-card {
      margin-bottom: 1rem;
    }
  }
}

.fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
