<div class="page">

  <div class="page-logo"></div>

  <md-card class="register-card mat-elevation-z10">
    <form class="register-card__form"
          #registerForm="ngForm"
          (ngSubmit)="createAccountAction(registerForm)">
      <md-card-title>Create a new user</md-card-title>

      <md-card-content class="register-card__form__inputs">
        <md-input-container>
          <input id="username"
                 name="username"
                 type="text"
                 placeholder="User name"
                 mdInput
                 [(ngModel)]="user.username"
                 #username="ngModel"
                 pattern="[_a-zA-Z0-9]{3,25}"
                 minlength="3"
                 maxlength="50"
                 required>
        </md-input-container>
        <md-input-container>
          <input id="password"
                 name="password"
                 type="password"
                 placeholder="Password"
                 mdInput
                 [(ngModel)]="user.password"
                 #password="ngModel"
                 minlength="6"
                 maxlength="100"
                 required>
        </md-input-container>

      </md-card-content>

      <md-card-actions class="register-card__form__actions">
        <a routerLink="/login"
           md-button>Log in
        </a>
        <button type="submit"
                md-button
                [disabled]="registerForm.invalid || processingForm">Register
        </button>
      </md-card-actions>
    </form>
  </md-card>

</div>
