.page {
  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  .register-card {
    padding: 3rem;

    display: flex;

    flex-direction: column;

    &__form {
      display: flex;

      flex-direction: column;

      &__inputs {
        display: flex;

        flex-direction: column;
        align-content: center;
        align-items: stretch;
      }

      &__actions {
        margin-bottom: 0;

        align-self: flex-end;
      }
    }
  }
}